body {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",
    "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック体", YuGothic,
    "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  width: 100%;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

header {
  text-align: center;
}

.ttl {
  font-size: 32px;
  margin-top: 100px;
}

.ref-link {
  font-size: 18px;
  color: blue;
  text-decoration: none;
  margin-bottom: 60px;
}

.ref-link:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  margin: 60px auto 80px;
}

.wrap-img-pc {
  width: calc((100% - 50px) * 0.7);
}

.wrap-img-sp {
  width: calc((100% - 50px) * 0.3);
}

.main img {
  width: 100%;
}

@media screen and (max-width: 599px) {
  .ttl {
    margin-top: 60px;
    font-size: 26px;
  }

  .ref-link {
    font-size: 14px;
  }

  .main {
    margin-top: 40px;
  }

  .wrap-img-pc {
    display: none;
  }

  .wrap-img-sp {
    width: 100%;
  }
}
